.category{
    display: none;
    background-color: white;
    max-width: 95%;
    height: 100%;
}

:target{
    display: block;
}

.Live{
    color: springgreen;
    font-weight: bold;
}

.verticalCenteredParent{
    display: table;
}

.pullRight{
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}