.myCard  p, h4{
    margin-bottom: 0 !important;
}

.myCardButton{
    width: 100%;
}

.myButtonGroup{
    width: 100%;
}

.myButtonOnGroup{
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
}

.txtLive{
  color: greenyellow;
  font-weight: bold;
}

.txtFinished{
  color: red;
  font-weight: bold;
}

.noBotMargin{
    margin-bottom: 0;
}

.myLargeButton{
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
}